.album-container {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #181818;
  color: #fff;
  width: 92vw;
  font-family: Assistant;
  padding-bottom: 100px;
}

.album-details-header {
  text-align: center;
  margin-top: 60px;
}

.album-details-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.album-details-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.album-details-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.album-tracklist {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.album-tracklist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 8px 0;
  background-color: #1e1e1e;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.audio-player-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 92vw;
  z-index: 1000;
}

.album-tracklist-item:hover {
  background-color: #2a2a2a;
}

.track-texts {
  display: flex;
  flex-direction: column;
}

.track-name {
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
}

.track-artist {
  color: #aaaaaa;
  font-size: 12px;
  margin-top: 4px;
}

.duration {
  font-size: 12px;
  color: #cccccc;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .album-details-header {
    max-width: 300px;
  }
  .album-details-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .album-tracklist-item {
    padding: 10px;
  }
  .album-details-header {
    max-width: 400px;
  }
  .track-name {
    font-size: 13px;
  }
  .track-artist {
    font-size: 11px;
  }
  .duration {
    font-size: 11px;
  }
  .album-container {
    padding: 30px;
  }
  .album-details-header {
    width: 60vw;
  }
  .audio-player-container {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

@media screen and (max-width: 480px) {
  .album-tracklist-item {
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
  }
  .album-container {
    padding: 30px;
  }

  .track-texts {
    flex-grow: 1;
  }
  .album-details-title {
    font-size: 16px;
  }
  .duration {
    align-self: flex-start;
  }
}

@media screen and (min-width: 769px) {
  .album-details-header {
    max-width: 500px;
  }

  .album-details-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .album-tracklist {
    padding: 30px;
  }
}
